client-console/clientConsole/clientConsole/Connected Services/VelibService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/VelibSoapService/VelibService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelibSoapService" />
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VelibSoapService" minOccurs="0" name="result" nillable="true" type="q1:VelibStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityID" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VelibSoapService" minOccurs="0" name="result" nillable="true" type="q2:ArrayOfVelibStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>