client-monitoring/clientMonitoring/clientMonitoring/Connected Services/MonitoringReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VelibSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VelibSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataLogs">
    <xs:sequence>
      <xs:element minOccurs="0" name="numberOfAPIRequest" type="xs:int" />
      <xs:element minOccurs="0" name="numberOfClientRequest" type="xs:int" />
      <xs:element minOccurs="0" name="numberOfRequest" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataLogs" nillable="true" type="tns:DataLogs" />
</xs:schema>