client-monitoring/clientMonitoring/clientMonitoring/Connected Services/MonitoringReference/MonitoringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitoringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/VelibSoapService/MonitoringService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/VelibSoapService/MonitoringService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/VelibSoapService/MonitoringService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelibSoapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoringService_GetNumberOfRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfRequest" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNumberOfRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNumberOfClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfClients" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNumberOfClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNumberOfRequestToAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfRequestToAPI" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetNumberOfRequestToAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfRequestToAPIResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogs" />
  </wsdl:message>
  <wsdl:message name="IMonitoringService_GetLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitoringService">
    <wsdl:operation name="GetNumberOfRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetNumberOfRequest" message="tns:IMonitoringService_GetNumberOfRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetNumberOfRequestResponse" message="tns:IMonitoringService_GetNumberOfRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetNumberOfClients" message="tns:IMonitoringService_GetNumberOfClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetNumberOfClientsResponse" message="tns:IMonitoringService_GetNumberOfClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRequestToAPI">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetNumberOfRequestToAPI" message="tns:IMonitoringService_GetNumberOfRequestToAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetNumberOfRequestToAPIResponse" message="tns:IMonitoringService_GetNumberOfRequestToAPI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoringService/GetLogs" message="tns:IMonitoringService_GetLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoringService/GetLogsResponse" message="tns:IMonitoringService_GetLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitoringService" type="tns:IMonitoringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNumberOfRequest">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetNumberOfRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfClients">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetNumberOfClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfRequestToAPI">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetNumberOfRequestToAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogs">
      <soap:operation soapAction="http://tempuri.org/IMonitoringService/GetLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoringService">
    <wsdl:port name="BasicHttpBinding_IMonitoringService" binding="tns:BasicHttpBinding_IMonitoringService">
      <soap:address location="http://localhost:8733/VelibSoapService/MonitoringService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>