client/VelibGUIClient/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VelibSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VelibSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVelibStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VelibStation" nillable="true" type="tns:VelibStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVelibStation" nillable="true" type="tns:ArrayOfVelibStation" />
  <xs:complexType name="VelibStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="availableBikes" type="xs:int" />
      <xs:element minOccurs="0" name="banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="numberOfPointAttache" type="xs:int" />
      <xs:element minOccurs="0" name="numberOfPointAttacheAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stationNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VelibStation" nillable="true" type="tns:VelibStation" />
</xs:schema>